<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Tempo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

   
</head>
<body class="alert colorar">
    <div class="app container alert ">
        <div id="cabecalho" class="alert text-center">
            <h1 style="font-size: 4rem; font-weight:800;">{{titulo}}</h1>
            <forms></forms>
        </div>
        
        <br>

        <div id="escopo">
            <br>
            <tupla-cidades></tupla-cidades>
        </div>
    </div>

    <template id="formulario">
        <form action="get" v-on:submit.prevent="onSubmit" class=""> 
            <div id="inside-formulario" class="form-group input-group mb-3">
                <input class="form-control" id="entrada-form" placeholder="Ex: Londres, Rio de Janeiro" @keyup="filtre()"type="text" v-model="nome">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" @click.prevent.stop = "setCidade()">Adicionar!</button>
                </div>
            </div>
            <br>
        </form>
    </template>
    
    <template id="tupla">
        <div class="table-responsive" v-if="boolean">
        <table class="table table-striped">
            <tbody>
                <th>Nome</th>
                <th>Temperatura</th>
                <th>Humidade</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
                <tr v-for="(cid,index) in procuraCidades">
                    <td>{{cid.name}}</td>
                    <td>{{cid.main.temp}} °C</td>
                    <td>{{cid.main.humidity}}%</td>
                    <td >{{cid.weather[0].description}}</td>
                    <td><img v-bind:src="path+cid.weather[0].icon+ext" class="img-list" alt="" srcset=""> </td>
                    <td><button  class="btn btn-danger btn-sm" v-on:click.stop.prevent="remover(index)" >Remover</button></td>
                </tr> 
            </tbody>
        </table>
        
        </div>
    </template>
   
    <script type="text/javascript" src="script.js"></script>

</body>
</html>
