#formulario{
    display: inline-block;
}
.btn-enviar{
    width: 150px;
    height: 20px;
}
#escopo{
    float:center;
}
.colorar{
    background-color: rgba(0,0,0,0.015);
}
#inside-formulario{
    margin-top: 100px;
}
.container{
    margin-top: 25px;
    padding-top: 100px;
}
#inside{
    flex-flow:row;
    flex-wrap: wrap;
}
.img-list{
    margin-top:-10px;
}
